body {
  background-color: whitesmoke;
  margin: 0;
}
.movie-edit-section {
  padding: 40px;
  display: flex;
  justify-content: center;

  form {
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    label {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input,
      select {
        padding: 2px;
        border-radius: 6px;
        border: 1px solid lightgray;
      }
    }
    p {
      color: red;
      font-style: italic;
    }

    .btn {
      display: flex;
      justify-content: center;
      width: 100%;
    }

    button {
      width: fit-content;
      padding: 10px;
      cursor: pointer;
      background: #3db6b1;
      border-radius: 6px;
      border: none;
      font-weight: bold;
      color: white;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px;
      transition: 300ms;

      &:hover {
        background-color: #4be1dc;
        scale: 1.02;
      }
    }
  }
}

.movie-component {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  .movie-poster {
    width: 80%;
    text-align: center;

    img {
      width: 200px;
      height: 300px;
      border-radius: 12px;
    }
  }

  .movie-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 15px;
    p,
    h3 {
      margin: 0;
    }
    :first-child {
      text-align: center;
    }
  }

  .movie-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;

    button {
      padding: 10px;
      border: none;
      border-radius: 6px;
      transition: 300ms;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        background-color: whitesmoke;
        scale: 1.05;
      }
    }
  }
}

.display-movie {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 20px 40px;
}
